footer#footer
  .container
    .row
      .col-6
        +link('151 3rd St San Francisco, CA').text-orange.link-icon
          span.icon.icon-location
          span 151 3rd St<br>San Francisco, CA
      .col-6.text-right  
        +link('151 3rd St San Francisco, CA').text-orange.link-icon
          span.icon.icon-clock
          span Open today<br>10:00am — 5:30pm
